
    <footer>
        <div id="footer">
            <div id="mockup">
                <h4>Mockup company</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi ex eveniet.</p>
                <div id="conteneur_reseau">
                    <div class="reseau logo-facebook"><i class="fab fa-facebook-f"></i></div>
                    <div class="reseau logo-twitter"><i class="fab fa-twitter"></i></div>
                    <div class="reseau logo-linkedin"><i class="fab fa-linkedin-in"></i></div>
                    <div class="reseau logo-youtube"><i class="fab fa-youtube"></i></div>
                    <div class="reseau logo-instagram"><i class="fab fa-instagram"></i></div>
                </div>
            </div>
            <div class="item-footer">
                <h4>Produit</h4>
                <ul>
                    <li class="text-center">produit 1</li>
                    <li class="text-center">produit 2</li>
                    <li class="text-center">produit 3</li>

                </ul>
            </div>
            <div class="item-footer">
                <h4>Sevice</h4>
                <ul>
                    <li><i class="fas fa-phone"></i>0707070707</li>
                    <li><i class="far fa-envelope"></i>aske@gmail.com</li>


                </ul>
            </div>
            <div class="item-footer">
                <h4>Services</h4>
                <ul>
                    <li>Services 1</li>
                    <li>Services 2</li>
                    <li>Services 3</li>

                </ul>
            </div>
            <div class="item-footer">
                <h4>Ressources</h4>
                <ul>
                    <li>Ressources 1</li>
                    <li>Ressources 2</li>
                    <li>Ressources 2</li>

                </ul>
            </div>
        </div>
        <div id="container-footer">
            <p class="Copyright">Copyright @ 2020. Tous droits réservés.</p>
            <img id="jls" src="" alt="JBL">

        </div>
    </footer>

